@import url('https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: url(../images/GhibliBG2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    /* left: 10%; */
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

/* /////////// */
/* TRIVIA GAME */
/* /////////// */


#triviaGame {
    background-color: rgba(117, 216, 255, 0.75);
    border: 5px solid black;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 2.5% 15%;
    /* padding: 15px 0; */
    flex: 1;
    /* left: -20%; */
    border-radius: 25px;
}

#triviaGame h1 {
        /* margin-bottom: 20px; */
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.5em;
        margin: 0 auto;
}

#triviaGame h1 img {
    width: 35%;
}

#triviaGame button {
    font-size: 1em;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 2%;
    border: none;
    border-radius: 15px;
    margin: 1%;
    text-align: center;
}

#triviaGame #question {
    background-color: rgba(63, 63, 63, 0.76);
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 2.5% 15%;
    padding: 2.5%;
    border-radius: 15px;
}

#triviaGame #newGame button {
    font-size: 1em;
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 2%;
    border: none;
    border-radius: 15px;
    /* margin: 1%; */
    text-align: center;
}


